@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    user-select: none;
    min-height: 100vh;
    display: block;
    margin-top: 240px;
    background: whitesmoke;
    text-align: center;
    
    
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.container .text{

    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}

.container .text.first-text{
    color: #222;
    text-shadow: 1px 10px 20px #333;
}

.text.sec-text:before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: whitesmoke;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate {
    40%,50%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;

    }
}

.button a{
    text-decoration: none;
    padding: 10px;
    border: 2px solid #4070F4;
    border-radius: 20px;
    color: #4070F4;
    transition: 0.5s;
    text-shadow: 15px 10px 20px #4070F4;
}

.button a:hover{
    background-color: white;
    color: #222;
    border: 2px solid #222;
    text-shadow: 15px 10px 20px #222;
}